In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

## Series and DataFrame Object

In [3]:
li = []
for i in range (1,9):
    li.append('row ' + str(i))

# create a series object of range 8 (indexed 0-7) with index named 'row x'
series_obj = Series(np.arange(8), index = li)
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int32

In [4]:
series_obj['row 7']

6

In [6]:
# the attribute can also be a list, in index/name
series_obj[[0,7]]

row 1    0
row 8    7
dtype: int32

In [10]:
rind = []
cind =[]
for i in range (1,7):
    rind.append('row ' + str(i))
    cind.append('column ' + str(i))

np.random.seed(25) # seed setting due to pseudo random nature
DF_obj = DataFrame(np.random.rand(36).reshape(6,6),
                   index = rind, columns = cind)

DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.559242  0.745284  0.828346  0.823694  0.077140  0.644862
row 2  0.309258  0.524254  0.958092  0.883201  0.295432  0.512376
row 3  0.088702  0.641717  0.132421  0.766486  0.076742  0.331044
row 4  0.679852  0.509213  0.655146  0.602120  0.719055  0.415219
row 5  0.396542  0.825139  0.712552  0.097937  0.842154  0.440821
row 6  0.373989  0.913676  0.547778  0.251937  0.027474  0.206257

## Locating Data

In [19]:
DF_obj.loc[['row 2', 'row 5'], ['column 5', 'column 2']]

       column 5  column 2
row 2  0.295432  0.524254
row 5  0.842154  0.825139

In [20]:
series_obj['row 2' : 'row 6']

row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
dtype: int32

## Comparing with Scaler

In [21]:
DF_obj < .2
# this creates the mask for filtering < .2

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False     False     False      True     False
row 2     False     False     False     False     False     False
row 3      True     False      True     False      True     False
row 4     False     False     False     False     False     False
row 5     False     False     False      True     False     False
row 6     False     False     False     False      True     False

## Filtering with Scalers

In [26]:
series_obj[series_obj > 6]

row 1    8
row 5    8
row 8    8
dtype: int32

## Setting Values

In [ ]:
series_obj['row 1', 'row 5', 'row 8'] = 8
series_obj