In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [3]:
DF = DataFrame({'column 1' : [1,1,2,2,3,3,3], 
               'column 2' : ['a', 'b', 'c', 'd', 'c', 'c', 'c'],
               'column 3' : ['A', 'A', 'B', 'B', 'C', 'C', 'C']})
DF

   column 1 column 2 column 3
0         1        a        A
1         1        b        A
2         2        c        B
3         2        d        B
4         3        c        C
5         3        c        C
6         3        c        C

In [4]:
DF.duplicated()
# note that this method is not case-sensitive

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

In [5]:
DF.drop_duplicates()

   column 1 column 2 column 3
0         1        a        A
1         1        b        A
2         2        c        B
3         2        d        B
4         3        c        C

In [6]:
# drop based on column
DF = DataFrame({'column 1' : [1,1,2,2,3,3,3], 
               'column 2' : ['a', 'b', 'c', 'd', 'c', 'c', 'c'],
               'column 3' : ['A', 'A', 'B', 'C', 'C', 'C', 'C']})
DF

   column 1 column 2 column 3
0         1        a        A
1         1        b        A
2         2        c        B
3         2        d        C
4         3        c        C
5         3        c        C
6         3        c        C

In [8]:
DF.drop_duplicates(['column 3'])

   column 1 column 2 column 3
0         1        a        A
2         2        c        B
3         2        d        C