In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import scipy
from scipy import stats

In [2]:
address = 'C:/Users/zxgsh/Desktop/DS/mtcars.csv'

cars = pd.read_csv(address)
cars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

## Looking at summary statistics

In [3]:
cars.sum() # prints sum of each column (processed in the row direction)

model    Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...
mpg                                                  642.9
cyl                                                    198
disp                                                7383.1
hp                                                    4694
drat                                                115.09
wt                                                 102.952
qsec                                                571.16
vs                                                      14
am                                                      13
gear                                                   118
carb                                                    90
dtype: object

In [4]:
cars.mean()

C:\Users\zxgsh\AppData\Local\Temp\ipykernel_16452\1764053374.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cars.mean()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [7]:
mpg = cars.mpg
mpg.idxmax() # index (row) number of where the maximum in the mpg column is located

19

In [9]:
cars.std() # shows standard deviation

C:\Users\zxgsh\AppData\Local\Temp\ipykernel_16452\1731608250.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cars.std() #shows standard deviation

mpg       6.026948
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.786943
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [10]:
cars.var() # shows variance

C:\Users\zxgsh\AppData\Local\Temp\ipykernel_16452\2053581105.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cars.var()

mpg        36.324103
cyl         3.189516
disp    15360.799829
hp       4700.866935
drat        0.285881
wt          0.957379
qsec        3.193166
vs          0.254032
am          0.248992
gear        0.544355
carb        2.608871
dtype: float64

In [11]:
gear = cars.gear
gear.value_counts() # counts unique value by number of gears

3    15
4    12
5     5
Name: gear, dtype: int64